span {
    color: purple;
    display: block;
    background: #ccc;
    padding: 5px;
}

.sub {
    width: 100px;
    height: 100px;
    background-color: red;
    background-image: url('./pin-subscriber.png');
    background-repeat: no-repeat;
    background-size: 100%;
}